fastapi[standard]
google.genai
langgraph
tavily-python
langgraph-supervisor
langchain_openai
langchain
pytest
uvicorn
langgraph-cli[inmem]
pymongo
langchain_google_genai
pandas
openpyxl
unidecode
streamlit